<ion-header>

  <ion-toolbar>

    <ion-buttons slot="secondary">

      <ion-button  (click)="perfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

    </ion-buttons>

    <img src="../../assets/logo.png">

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <div class="avalie">

      <img src="../../assets/pessoa1.jpg">

      <p>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </p>

      <ion-item>
        <ion-label position="stacked">Avalie o profissional</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button>Enviar</ion-button>

    </div>

  </ion-card>

</ion-content>
