<ion-header>
  <ion-toolbar>

    <ion-buttons slot="secondary">

      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

    </ion-buttons>

    <img src="../../assets/logo.png" (click)="logo()">

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <img src="../../assets/pessoa2.jpg">

    <p>Ramon andrade</p>
    <p class="p2">ramon@gmail.com</p>
    <p class="p3">******** <ion-icon name="pencil-outline"></ion-icon></p>

  </ion-card>

</ion-content>