ion-header ion-toolbar img{
    width:50px;
    float:right;
    margin-right:10px;
}

ion-toolbar .menu{
    height:50px;
    width:30px;
    margin-left:10px;
}

ion-content ion-card img{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius:10px;
}

ion-content ion-card p{
    text-align:center;
    font-size:20px;
    
}

ion-content ion-card .p2{
    margin-top:-15px;
}

ion-content ion-card .p3{
    margin-top:-10px;
}