ion-header ion-toolbar img{
    width:50px;
    float:right;
    margin-right:10px;
}

ion-toolbar .menu{
    height:50px;
    width:30px;
    margin-left:10px;
}

.dados{
    height:400px;
    margin-top:20px;
}

ion-card{
    padding:5px;
}

.dados p{
    text-align:center;
    font-size:20px;
}

ion-button{
    border-radius:15px;
}