.pessoa{
    width:320px;
    height:70px;
    border-bottom:1px solid gray;
    background-color:#FFA500;
}

.pessoa ion-avatar{
    float:left;
}

.pessoa h1{
    float:right;
    color:white;
    margin-bottom:60px;
}