<ion-content>

  <div class="pessoa">

    <ion-avatar>
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>

    <div class="dado1">

      <h1>João mignácio</h1>

    </div>

    <div class="dado2">

      <p>Visto por último 12:30h</p>

    </div>

  </div>

  <div class="mensagens">

    <div class="mensagem1">

      <ion-avatar>
        <img src="../../assets/pessoa1.jpg">
      </ion-avatar>

      <div class="conteudo">

        <div class="escrita">

          <p>Oi, tudo bem ? </p>

        </div>

      </div>

    </div>

    <div class="mensagem2">

      <div class="conteudo">

        <div class="escrita">

          <p>Sim, e com você ? </p>

        </div>

      </div>

      <ion-avatar>
        <img src="../../assets/pessoa1.jpg">
      </ion-avatar>

    </div>

    <div class="mensagem1">

      <ion-avatar>
        <img src="../../assets/pessoa1.jpg">
      </ion-avatar>

      <div class="conteudo">

        <div class="escrita">

          <p>bllalbalblalba </p>

        </div>

      </div>

    </div>

    <div class="mensagem2">

      <div class="conteudo">

        <div class="escrita">

          <p>Ok</p>

        </div>

      </div>

      <ion-avatar>
        <img src="../../assets/pessoa1.jpg">
      </ion-avatar>

    </div>

    <div class="mensagem2">

      <div class="conteudo">

        <div class="escrita">

          <p>blalba blBlbL LBA </p>

        </div>

      </div>

      <ion-avatar>
        <img src="../../assets/pessoa1.jpg">
      </ion-avatar>

    </div>


  </div>

  <ion-searchbar showCancelButton="always" placeholder="Escreva sua mensagem"></ion-searchbar>

</ion-content>
