<ion-header>

  <ion-toolbar>

    <ion-icon name="reorder-three-outline" class="menu" (click)="menu"></ion-icon>

    <img src="../../assets/logo.png">

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>12/05/2021, 17h</ion-card-subtitle>
      <ion-card-title>Colocação de pisos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Serviço agendado para o dia 12/05/2021 às 17h, no endereço: Rua são francisco casa 7, não esqueça de comparecer ao local usando máscara.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>16/05/2021, 14:30h</ion-card-subtitle>
      <ion-card-title>Retirar pisos antigos, e colocar pisos novos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Serviço agendado para o dia 16/05/2021 às 14:30h, no endereço: Rua Pedro barbosa casa 13, não esqueça de comparecer ao local usando máscara.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>25/05/2021, 16:30h</ion-card-subtitle>
      <ion-card-title>Montar um armário</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Serviço agendado para o dia 25/05/2021 às 16:30h, no endereço: Rua araci de medeiros casa 95, não esqueça de comparecer ao local usando máscara.
    </ion-card-content>
  </ion-card>

</ion-content>

