ion-header ion-toolbar img{
    width:50px;
}
 ion-content h1{
     text-align: center;
     color:gray;
     border-bottom:1px solid gray;
 }

 ion-item p{
    float:left;
}

.localizacao {
    float:right;
}

.h3star{
    height:25px;
}

.h3star h3{
    float:left;
}

.h3star p{
    float:right;
  	
}


