<ion-content>

  <div class="logo">
    <img src="../../assets/logo.png">
  </div>

  <ion-card>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">cpf</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <div class="selecionar">

          <h1>Qual é a sua profissão ?</h1>

          <select name="profissão" class="selecionarprofissao">
              <option value="bota">Marceneiro</option>
              <option value="fla">Pedreiro</option>
              <option value="flu">Azulegista</option>
              <option value="vasco">Vidraceiro</option>
          </select>

        </div>
       
      </ion-list>

      <ion-button expand="full">Cadastrar-se</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>