<ion-header>

  <ion-toolbar>

    <ion-buttons slot="secondary">

      <ion-button  (click)="perfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

    </ion-buttons>

    <img src="../../assets/logo.png">

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-searchbar></ion-searchbar>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/pessoa1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="h3star">
        <h3>Jõao mignácio</h3>
        <ion-icon name="star-sharp" class="starr"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </div>
      <p>Azulegista</p>

      <div class="localizacao">

        <ion-icon name="location-outline" class="localiza"></ion-icon>
        <p>5KM</p>

      </div>

    </ion-label>

    
  </ion-item>

  <ion-button expand="block" fill="clear" class="botao">ver mais</ion-button>

</ion-content>