ion-header ion-toolbar img{
    width:50px;
}

ion-item p{
    float:left;
}

.localizacao {
    float:right;
}

.h3star{
    height:25px;
}

.h3star h3{
    float:left;
}

.star{
    float:right;
    color:#FFA500;	
}

.starr{
    float:right;
}