ion-header ion-toolbar img{
    width:50px;
}

.profissionais{
    border:1px solid black;
    height:80px;
    width:100%;
}

.profissionais img{
    width:75px;
    height:75px;
    border-radius:50px;
}

.retangulo{
    
}