ion-header ion-toolbar img{
    width:50px;
}

ion-label{
    height:50px;
}
.barra{
    height:63px;
}

ion-searchbar{
    float:left;
    width:270px;
}

.filtrar{
    width:40px;
    height:40px;
    float:left;
    margin-top:8px;
}

ion-item p{
    float:left;
    margin-bottom: 30px;
}

.localizacao {
    float:right;
}

.h3star{
    height:25px;
}

.h3star h3{
    float:left;
}

.star{
    float:right;
    color:#FFA500;	
}

.starr{
    float:right;
}

